<div class="">
  <div id="listado_nov">
    <h2 class="col-10">Listado Valoraciones</h2>
    <a href="/admin/valoraciones/agregar"><button class="pushy__btn  pushy__btn--green h-w-auto"><i
          class="fa-solid fa-plus"></i>Agregar</button></a>
  </div>
  <table>
    <thead>
      <tr id="cabezera">
        <th class="col-1">Id</th>
        <th class="col-3 desc">Autor</th>
        <th class="col-2 desc">Puntuacion</th>
        <th class="col-4 desc">Reseña</th>
        <th class="col-2 desc">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each valoraciones}}
      <tr>
        <td class="col-1 wrap" data-label="id: -">{{id}}</td>
        <td class="col-3 wrap" data-label="Autor: -">{{autor}}</td>
        <td class="col-2 wrap" data-label="Valoracion: -">{{valoracion}}</td>
        <td class="col-4 wrap" data-label="Reseña: -">{{reseña}}</td>
        <td class="col-2 acciones" data-label="acciones">
          <a href="/admin/valoraciones/modificar/{{id}}" title="Editar"><button
              class="pushy__btn pushy__btn--sm pushy__btn--blue"><i class="fa-solid fa-pen-to-square"></i></button></a>
          <a href="/admin/valoraciones/eliminar/{{id}}" title="Eliminar"><button
              class="pushy__btn pushy__btn--sm pushy__btn--blue"><i class="fa-solid fa-trash"></i></button></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>