<div >
  <nav class="navbar" style="background-color: #e3f2fd;">
  <div class="col-10"> <ul>
    <li>
      <a class="nav-link active" aria-current="page" href="/admin/novedades">Novedades</a>
    </li>
    <li>
      <a class="nav-link" href="/admin/videojuegos">Videojuegos</a>
    </li>
    <li>
      <a class="nav-link" href="/admin/valoraciones">Valoraciones</a>
    </li>
    <li>
      <a class="nav-link" href="/admin/galeria">Galeria</a>
    </li>
  </ul>
  </div>
  <div id="user">
    <h4>Hola {{usuario}}</h4>
    <a href="/admin/login/logout"><button type="button" class="pushy__btn pushy__btn--md pushy__btn--red">Cerrar
        session</button></a>
  </div>
</nav>
</div>
<div class="">
  <div id="listado_nov">
    <h2 class="col-10">Listado Valoraciones</h2>
    <a href="/admin/valoraciones/agregar"><button class="pushy__btn pushy__btn--df pushy__btn--green"><i
          class="fa-solid fa-plus"></i>Agregar</button></a>
  </div>
  <table>
    <thead>
      <tr>
      <th class="col-1">Id</th>
      <th class="col-3">Autor</th>
      <th class="col-2">Puntuacion</th>
      <th class="col-4">Reseña</th>
      <th class="col-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each valoraciones}}
      <tr>
        <td class="col-1"> {{id}}</td>
        <td class="col-3">{{autor}}</td>
        <td class="col-2">{{valoracion}}</td>
        <td class="col-4">{{reseña}}</td>
        <td class="col-2">
          <a href="/admin/videojuegos/modificar/{{id}}" title="Editar"><button class="pushy__btn pushy__btn--sm pushy__btn--blue"><i
                class="fa-solid fa-pen-to-square"></i></button></a>
          <a href="/admin/videojuegos/eliminar/{{id}}" title="Eliminar"><button class="pushy__btn pushy__btn--sm pushy__btn--blue"><i
                class="fa-solid fa-trash"></i></button></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>