<div class="holder">
    <div class="historia">
        <h1>Historia</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quos laborum nulla, vero cum, modi
            est placeat obcaecati odio alias sed accusantium voluptas. Quis, excepturi cupiditate atque adipisci
            suscipit eum? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil odio fugiat nemo ut
            voluptas vero! Modi soluta praesentium a, vero blanditiis nam rem, cum itaque nemo atque, accusantium
            minima culpa!
        </p>
    </div>
    <div class="equipo">
        <h1> Equipo de desarrollo</h1>
        <ul class="personas">
            {{#each nosotros}}
            <li>
                <img src="images/emp/{{id_emp}}.png" alt="">
                <h2>{{nombre}}</h2>
                <h2>{{apellido}}</h2>
                <h3>{{puesto}}</h3>
                <p>{{descripcion}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
</div>